name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  kustomize_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: repo
      - name: kustomize build
        run: |
          env -C repo/ kustomize build ./kustomize -o ../manifests.yaml
      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: manifests-kustomize
          path: manifests.yaml
          retention-days: 1

  kubeconform:
    runs-on: ubuntu-latest
    needs:
      - kustomize_build
    strategy:
      matrix:
        kubernetes-version:
          - 1.27.0
      fail-fast: false
    steps:
      - uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: manifests-kustomize
      - uses: docker://ghcr.io/yannh/kubeconform:v0.7.0@sha256:85dbef6b4b312b99133decc9c6fc9495e9fc5f92293d4ff3b7e1b30f5611823c
        with:
          entrypoint: '/kubeconform'
          args: >-
            -strict
            -kubernetes-version="${{ matrix.kubernetes-version }}"
            -summary manifests.yaml
