name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  kustomize_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: repo
      - name: kustomize build
        run: |
          env -C repo/ kustomize build ./kustomize -o ../manifests.yaml
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: manifests-kustomize
          path: manifests.yaml
          retention-days: 1

  kubeconform:
    runs-on: ubuntu-latest
    needs:
      - kustomize_build
    strategy:
      matrix:
        kubernetes-version:
          - 1.27.0
      fail-fast: false
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: manifests-kustomize
      - uses: docker://ghcr.io/yannh/kubeconform:v0.6.2@sha256:d49b233175b55c18d9a2af5e0b62249c3bc3bdd6161126655b4ad585c4b9b064
        with:
          entrypoint: '/kubeconform'
          args: >-
            -strict
            -kubernetes-version="${{ matrix.kubernetes-version }}"
            -summary manifests.yaml
